
.vision {
    width: 100%;
    z-index: 100;
   position: absolute;
    height: auto;
    display: flex;
justify-content:center;
align-items: end;
    padding: 25px 50px;
    flex-direction: column;

}


.vision-title{
    font-size: 50px;
    font-weight: bolder;
    color: black;
    display: flex;
    justify-content: right;
    width: 100%;
    
    padding: 20px 50px;
}
/* 
.vision-title span{
   
    top: 5vh;
    text-align: center;
 
} */

.vision-text::after{
    content: '';
    margin-right: -13px;
    margin-left: 13px;
    height: auto;
    width: 11px;
 
    background-color: black;
    
}

.vision-text{


    padding: 25px 50px;
    display: flex;
    justify-content: right;
    text-align: right;
    width: 40%;
    font-size: 18px;
    font-weight:250;
    margin-right: 15px;
   
}
.vision-img{
    width: 100%;
}

