.vision {
  width: 100%;
  z-index: 100;
  position: absolute;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 25px 50px;
  flex-direction: column;
  background-color: #3a5d87;
}

.vision-title {
  font-size: 50px;
  font-weight: bolder;
  color: #f6efdd;
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 20px 50px;
}

.vision-text-container {
  color: #f6efdd;
  padding: 25px 50px;
  display: flex;
  justify-content: right;
  text-align: right;
  width: 40%;
  font-size: 18px;
  font-weight: 250;
  margin-right: 15px;
  overflow: hidden;
}

.vision-text-container::after {
  content: "";
  margin-right: -13px;
  margin-left: 13px;
  height: auto;
  width: 11px;
  background-color: #ffffff;
}
.vision-text > p {
  animation: slideFromRight 2.5s ease-in;
}
.vision-text {
  overflow: hidden;
  height: 100%;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.vision-img {
  width: 100%;
}

.mission {
  width: 100%;
  z-index: 100;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 25px 50px;
  flex-direction: column;
  background-color: lightslategrey;
}

.mission-title {
  font-size: 50px;
  font-weight: bolder;
  color: #f6efdd;
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 20px 50px;
}
.mission-text-container {
  color: #f6efdd;
  padding: 25px 50px;
  display: flex;
  justify-content: left;
  text-align: left;
  width: 40%;
  font-size: 18px;
  font-weight: 250;

  overflow: hidden;
  
}
.mission-text-container::before {
  content: "";
  margin-right: 13px;
  margin-left: 5px;
  height: auto;
  width: 11px;
  background-color: #ffffff;
}
.mission-text > p {
  animation: slideFromLeft 2.5s ease-in;
}
.mission-text {
  overflow: hidden;
  height: 100%;
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
