@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.img-carousel{
  width: 100%;
  overflow: hidden;
}
.img-slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 300px;
  margin: auto;
  /* overflow: hidden; */
  position: relative;
  width: 100%;
}

.img-slider::before,
.img-slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.img-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.img-slider::before {
  left: 0;
  top: 0;
}

.img-slider .img-slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.img-slider .img-slide {
  height: 300px;
  width: 250px;
}