.carousel-container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
}

.current-slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.current-slide-container {
    width: 100%;

}

.slide-container {
    border-radius: 10px;
    overflow: hidden;
    height: 50vh;
    width: 50vw;
    background-color: purple;
    display: flex;
    justify-content: center;
}

.image-container {
    flex: 40%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transform: scale(1.15);
    object-position: center center;
    transition: all 0.5s ease-in-out;

}

.image-container:hover img {
    transform: scale(1);
}

.slide-info {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-title {
    width: 90%;
    height: 100px;
    padding: 10px;
    background-color: yellow;
    font-size: 25px;

}



.slide-content {
    width: 90%;
    padding: 10px;
    height: 125px;
    background-color: blue;
    margin-bottom: 15px;
    font-size: 15px;

}

.current-slide-container {
    gap: 50px;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}


@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(10%) scale(1.15);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1.15);
    }

}

.animate1 {
    animation: slideFromLeft 0.25s ease-in;
}

.animate2 {
    animation: slideFromLeft 0.5s ease-in;
}

.animate3 {
    animation: slideFromRight 0.25s ease-in;
}

.animate4 {
    animation: slideFromRight 0.5s ease-in;
}

.animate5 {
    animation: slideFromTop 0.5s ease-in;
}

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}