
.navbar-container {
    width: 100%;
    color: #ECE5C7;
    position: relative;
    z-index: 10;

}

.nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #116A7B;
    position: relative;
}

.nav-logo-container{

    display: flex;
    aspect-ratio: 1;
    margin-left: 5vw;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: red;
}

.nav>.nav-btn {
    display: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.option {
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none;
    color: #ECE5C7;
    background-color: #116A7B;
}

@media only screen and (min-width:768px){
    .option::after{
        content: '';
        display : flex;
        margin-top: 5px;
        height: 3px;
        background-color: green;
        width: 100%;
        transform : scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease;
    }
    .option:hover::after{
        transform: scaleX(1);
    }
}


.nav>#nav-check {
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
}

@media screen and (max-width:768px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        height: inherit;
    }

    .nav>.nav-btn>label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        height: inherit;
    }
 

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #116A7B;
        cursor: pointer;
    }
    .nav #nav-check:checked~.nav-btn>label:hover {
        background-color: #116A7B;
        cursor: pointer;
    }

    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #ECE5C7;
    }

    .nav-links::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .nav-links {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }


    .nav>.nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 10vh;
        left: 0px;
        
    }
  
    .option {
        display: flex;
        flex: 100%;
        width: 100%;
        padding: 15px;
        background: linear-gradient(to left, #116A7B 50%, grey 50%) right !important;
        background-size: 200% !important;
        transition: 0.5s ease-in ;
    }
    .option:hover{
        background-position: left !important;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        animation: slide-down 0.5s ease-in-out;
        height: auto;
        overflow-y: auto;
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}