
.navbar-container {
    width: 100vw;
    color: #ECE5C7;
    position: relative;
    
}

.nav {
    height: 10vh;
    width: 100%;
    background-color: #116A7B;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 15px 15px 15px 15px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 21px;
    
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 19px 15px 19px 15px;
    text-decoration: none;
    color: #ECE5C7;
    background-color: #116A7B;
}

.nav>.nav-links>a:hover {
    background-color: #c2dedc6c;
}

.nav>#nav-check {
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
}






@media (max-width:768px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 18px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: #116A7B;
        cursor: pointer;
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #ECE5C7;
    }

    .nav-links::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .nav-links {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #ECE5C7;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        color: #116A7B;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        animation: slide-down 0.5s ease-in-out;
        height: auto;
        overflow-y: auto;
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateY(10%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}